<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="urlrewritingnet" requirePermission="false" type="UrlRewritingNet.Configuration.UrlRewriteSection, UrlRewritingNet.UrlRewriter" />
  </configSections>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime maxRequestLength="104576" />
    <authentication mode="Windows" />
    <sessionPageState historySize="100" />
    <sessionState timeout="1440" mode="InProc" />
    <httpModules>
      <clear />
      <add name="UrlRewriteModule" type="UrlRewritingNet.Web.UrlRewriteModule, UrlRewritingNet.UrlRewriter" />
    </httpModules>
    <pages>
      <controls>
        <add namespace="AjaxControlToolkit" assembly="AjaxControlToolkit" tagPrefix="cc1" />
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages>
  </system.web>
  <urlrewritingnet rewriteOnlyVirtualUrls="true" contextItemsPrefix="QueryString" defaultPage="Modules/Page/main.aspx" defaultProvider="RegEx" xmlns="http://www.urlrewriting.net/schemas/config/2006/07">
    <rewrites>
      <!-- Bàn làm việc -->
      <add name="adm_ban_lam_viec" virtualUrl="^~/AdminTools/BanLamViec.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/AdminTools/BanLamViec.aspx" ignoreCase="true" />
      <!-- Giới thiệu -->
      <add name="adm_about_us" virtualUrl="^~/AdminTools/GioiThieu.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/AdminTools/Modules/AboutUs/main.aspx" ignoreCase="true" />
      <!-- Sản phẩm -->
      <add name="adm_nhom_sp" virtualUrl="^~/AdminTools/QuanLyNhomSanPham.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/AdminTools/Modules/Products/Catalogs/main.aspx" ignoreCase="true" />
      <add name="adm_sanpham" virtualUrl="^~/AdminTools/QuanLySanPham.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/AdminTools/Modules/Products/Products/main.aspx" ignoreCase="true" />
      <add name="adm_donhang" virtualUrl="^~/AdminTools/QuanLyDonHang.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/AdminTools/Modules/Products/Products/order.aspx" ignoreCase="true" />
      <add name="adm_htthanhtoan" virtualUrl="^~/AdminTools/QuanLyHinhThucThanhToan.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/AdminTools/Modules/Products/Products/payment.aspx" ignoreCase="true" />
      <!-- Tin tức -->
      <add name="adm_nhom_tintuc" virtualUrl="^~/AdminTools/QuanLyNhomTinTuc.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/AdminTools/Modules/News/Catalogs/main.aspx" ignoreCase="true" />
      <add name="adm_tintuc" virtualUrl="^~/AdminTools/QuanLyTinTuc.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/AdminTools/Modules/News/News/main.aspx" ignoreCase="true" />
      <!-- Slider -->
      <add name="adm_slider" virtualUrl="^~/AdminTools/QuanLySlider.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/AdminTools/Modules/Slider/main.aspx" ignoreCase="true" />
      <!-- PAGE -->
      <add name="products_detail" virtualUrl="^~/san-pham/([\w-]*)/([\w-]*)-([0-9]*).html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Modules/Products/detail.aspx?idProduct=$3" ignoreCase="true" />
      <add name="products_cata" virtualUrl="^~/san-pham/([\w-]*)-([0-9]*).html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Modules/Products/catalog.aspx?idCatalog=$2" ignoreCase="true" />
      <add name="products_cart" virtualUrl="^~/gio-hang.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Modules/Products/cart.aspx" ignoreCase="true" />
      <add name="products_checkout" virtualUrl="^~/dat-hang.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Modules/Products/checkout.aspx" ignoreCase="true" />
      <add name="products" virtualUrl="^~/san-pham.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Modules/Products/main.aspx" ignoreCase="true" />
      <add name="news_detail" virtualUrl="^~/tin-tuc/([\w-]*)-([0-9]*).html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Modules/News/detail.aspx?idNews=$2" ignoreCase="true" />
      <add name="news" virtualUrl="^~/tin-tuc.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Modules/News/main.aspx" ignoreCase="true" />
      <add name="contact" virtualUrl="^~/lien-he.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Modules/Contact/main.aspx" ignoreCase="true" />
      <add name="about" virtualUrl="^~/([\w-]*)-([0-9]*).html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Modules/AboutUs/main.aspx?idAbout=$2" ignoreCase="true" />
      <add name="pagemain" virtualUrl="^~/quoc-minh.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Modules/Page/main.aspx" ignoreCase="true" />
    </rewrites>
  </urlrewritingnet>
  <connectionStrings>
    <add name="cs_sqlserver" connectionString="Data Source=.;Initial Catalog=dbShopsDefault;User ID=sa;Password=123456" />
  </connectionStrings>
  <system.webServer>
    <staticContent>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="30.00:00:00" />
      <remove fileExtension=".woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
    </staticContent>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="Session" />
      <add name="Session" type="System.Web.SessionState.SessionStateModule" />
      <remove name="ScriptModule" />
      <remove name="UrlRewriteModule" />
      <add name="UrlRewriteModule" type="UrlRewritingNet.Web.UrlRewriteModule, UrlRewritingNet.UrlRewriter" />
    </modules>
    <defaultDocument>
      <files>
        <remove value="index.html" />
        <remove value="index.aspx" />
        <add value="Modules/Page/main.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
  <system.codedom>
    <compilers>
      <compiler extension=".cs" language="c#;cs;csharp" warningLevel="4" compilerOptions="/langversion:7.3 /nowarn:1659;1699;1701;612;618" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=3.6.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <compiler extension=".vb" language="vb;vbs;visualbasic;vbscript" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008,40000,40008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=3.6.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </compilers>
  </system.codedom>
</configuration>